{% extends "base.html" %}
{% block content %}

<div>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" href="#action">Github Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#review">Dev Server</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#master">Links</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#deploy">Image Deploy</a>
        </li>
    </ul>
    <br>
</div>

<div>
    <h2 id="action">Github Actions:</h2>
    <p>
        Github actions automatically perform tasks upon pushes, specifically it can be used to immediately upload to Heroku.
        My project has two workflows to upload to development and upload to production respectively.
    </p>
    <br>

    <h2 id="review">Development Server:</h2>
    <p>
		A development server allows a programmer to make frequent changes without risking the integrity of the
        production output. It also allows changes to be rolled back on the development server far more cleanly than
        having to rollback presented code.
    </p>
    <br>

    <h2 id="master">Deploy Master:</h2>
    <p>
        Deploying master in this case automatically deploy it to production due to the prod.yml workflow and github actions
        that are set. Alternatively, you could set each branch to be tracked by Heroku manually, and deploy development
        and production branches like that.
    </p>
    <br>

    <h2 id="deploy">Image Deployment:</h2>
    <p>
        Briefly, due to github having secrets corresponding to my dockerhub login and password, and due to having
        a portion in workflow dedicated to logging into dockerhub and deploying my production code, image
        deployment occurs automatically.
    </p>
    <br>
</div>
{% endblock %}